html,
body {
  padding: 0;
  margin: 0;
}

#pannel {
  background-color: red;
  position: fixed;
  top: 0;
  bottom: 0;
}

.switch-stationery {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.switch-stationery > #eraser {
  display: none;
}

.switch-stationery.toggle > #eraser {
  display: inline-block;
}

.switch-stationery.toggle > #pen {
  display: none;
}